* {
    margin: 0px;         
    padding: 0px;          
    box-sizing: border-box;  
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header{
    background-color: #2c3e50;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

 header h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom:10px; 
} 

header p{
    font-size: 1.2rem;
    color: #bdc3c7;
}

nav{
    margin-top: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;

}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.1); 
    text-decoration: underline; 
}

main{
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

section{
    background-color: white;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
section h2{
    font-size: 1.8rem;
    color: #2c3e50;
    margin-bottom: 10px;
    border-bottom: 3px solid #3498db;
}

section p{
    margin-bottom: 15px;
    color: #555;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.skill-card{
    flex:1;
    min-width: 200px;
    background-color:#f8f9fa;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.skill-card h3{
    font-size: 1.1rem;
    color: #2c3e50;
    margin-bottom: 15px;
}

.skill-bar{
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.skill-level{
    height: 100%;
    background-color: #3498db;
    border-radius: 5px;
}

/* ===== CONTACT FORM ===== */
.contact-form {
    max-width: 500px;               
    margin: 0 auto;          
}

.contact-form input,
.contact-form textarea {
    width: 100%;               
    padding: 15px;              
    margin-bottom: 15px;          
    border: 1px solid #ddd;      
    border-radius: 5px;           
    font-size: 16px;              
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;             
    border-color: #3498db;      
    box-shadow: 0 0 0px rgba(52, 152, 219, 0.3);  
}

.contact-form button {
    width: 100%;              
    padding: 15px;               
    background-color: #3498db;       
    color: white;                  
    border: none;                 
    border-radius: 5px;          
    font-size: 18px;               
    cursor: pointer;                  
}

.contact-form button:hover {
    background-color: #2980b9;      
}

footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-top: 30px;
}
footer p{
    font-size: 0.9rem;
}

footer a{
    color: #3498db;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}


