* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: whitesmoke;
    color: #222;
}
img {
    display: block;
    max-width: 100%;
}
