#pokemon-container {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px; 
}
#header {
    
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
    background-color: white;
}