body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;   /* ХЭВТЭЭ төвд */
    align-items:center;       /* БОСОО төвд */
    background:#f4f6fb;
    font-family:Arial, sans-serif;
}

.pricing-container{
    width:1100px;
    display:flex;
    gap:30px;
}

.pricing-card{
    flex:1;
    background:white;
    padding:40px 30px;
    border-radius:18px;

    display:flex;
    flex-direction:column;
    align-items:center;

    box-shadow:0 8px 22px rgba(0,0,0,.08);
}

.title{
    font-size:22px;
    margin-bottom:12px;
}

.price{
    font-size:42px;
    margin-bottom:25px;
    font-weight:bold;
}

.features{
    list-style:none;
    padding:0;
    width:100%;
    display:flex;
    flex-direction:column;
    gap:12px;
    margin-bottom:30px;
}

.btn{
    margin-top:auto;
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#4f46e5;
    color:white;
}