* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    font-weight: 700px;
    font-size: 64px;
    width: 429px;
    top: 176px;
}
h3{
    font-weight: 700px;
    font-size: 32px;
    margin: 10px 0;
}

p {
    font-weight: 500px;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 50px;
    height: 85px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #75C310;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 60px;
    font-size: 15px;
    font-weight: 500;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #75C310;
}

#black {
    color: black;
}

.contact-button {
    background-color: #75C310;
    color: white;
    border-radius: 30px;
    border: 1px solid;
    width: 149px;
    height: 44.54px;
    font-size: 15px;
    font-weight: 700;
}

.black {
    color: black;
}

main {
    padding: 0 65px;
}

.page1-text {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    height: 697px;
}

.left-page1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.page1-text img {
    width: 514px;
    height: 513px;
}

.go-to-portfolio-buttom {
    background-color: #75C310;
    color: white;
    border-radius: 30px;
    width: 220px;
    height: 54px;
    border: 1px solid;
    font-size: 20px;
    font-weight: 700;
}

.page2-text {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    height: 697px;
}

.right-page2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

}

.Logo-img {
    padding-top: 70px;
}

.contact-button-pages-buttom {
    background-color: #75C310;
    color: white;
    border-radius: 30px;
    width: 220px;
    height: 54px;
    border: 1px solid;
    font-size: 20px;
    font-weight: 700;
}

.page3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    height: 343px;
}

.page4-cards {
    height: 893px;
    display: flex;
    gap: 30px;
    justify-content:center;
}

.card1 {
    width: 382px;
    height: 485px;
    border: 3px solid #75C310;
    border-radius: 22px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    display: flex;
}
.card1 img{

}

.card2 {
    width: 382px;
    height: 485px;
    border: 3px solid #75C310;
    border-radius: 22px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    display: flex;
}
.card2 img{
    
}

.card3 {
    width: 382px;
    height: 485px;
    border: 3px solid #75C310;
    border-radius: 22px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    display: flex; 
}
.card3 img{
    
}
.paragraph-card{
    font-weight: 400px;
    font-size: 16px;
    
}
.paragraph-ceo{
    font-weight: 400px;
    font-style: italic;
    font-size: 14px;
}