.box5{
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    border: 2px solid red;
    display: inline-block;
}

.text{
    background-color: aqua;
    color: rebeccapurple;
    display: block;
    border: 2px solid red;

}

ul li{
    display: inline;
    border: 2px dotted tomato;

}

ul li#budaa, ul li#altaa{
    display: none;
}

ul li#avenger{
    visibility: hidden;
}