*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f6c9;
    font-family: sans-serif;
}

.card {
    width: 510px;
    height: 755px;
    top: 113px;
    left: 501px;
    background: #fff;
    border-radius: 64px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.card-header{
    
}
.up-png{
    width: 510px;
    height: 139px;
    top: 113px;
    left: 501px;
    
}

.wave {
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 60%;
    width: 100%;
    height: 156px;
    
}

.avatar{
    position: absolute;
    top: 136px;
    left: 676px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 6px solid #fff;
    object-fit: cover;
    z-index: 2;
}
.card-header::after{
    content: "";
    position: absolute;
    bottom: -30px;
    top: 203px;
    left: 501px;
    width: 510px;
    height: 190px;
    background: white;
    border-radius: 50% 50% 0 0;
}

.avatar{
    position: absolute;
    left: 676px;
    top: 136px;
    transform: translateX(-50%);
    width: 160px;
    height: 160px;
    border-radius: 50px;
    border: 6px solid #fff;
    object-fit: cover;
    background: #ccc;
    z-index: 2000;
}
.card-body {
    padding: 70px 24px 28px;
} 

.name {
    font: flex;
    line-height: 100%;
    font-style:Medium;
    letter-spacing: 1px;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    margin: 0;
}


.username {
    font-size: 16px;
    font-style:normal;
    line-height: 100%;
    text-align: center;
    color: #777;
    margin-top: 4px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin: 18px 0;
    font-size: 18px;
}

.socials a {
    color: #000;
    text-decoration: none;
    width: 32px;
    height: 32px;
    top: 545px; 
}

.bio {
    font: Flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #444;
    margin: 18px 0 28px;
    text-align: center;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.btn {
    padding: 12px 28px;
    border-radius: 24px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-weight: 500;
}

.btn-primary {
    background: #e64590;
    color: #fff;
    width: fixed 191px;
    height: 57px;
}


.btn-outline {
    background: #fff;
    border: 1.5px solid #ccc;
    color: #777;
    width: fixed 191px;
    height: 57px;

}