.box01{
    width: 300px;
    height: 300px;
    background-color: aqua;
/*box modeliin helber  */
    border-top-style: dashed;
    border-left-style: dotted;
    border-bottom-style: double;
    border-right-style: groove;
/* border iin urgun  */
font-size: 40px;
padding-top: 50px;
padding-left: 10px;
padding-bottom: 15px;
padding-right: 20px;
/* margin */
margin-top: 40px;
margin-bottom: 60px;
margin-right: 50px;
margin-left: 70px;

}

#box02{
    width: 400px;
    height: 400px;
    background-color: red;
    
    border-bottom-width: 5px;
    border-bottom-style: dotted;
    border-right-width: 5px;
    border-top-color: brown;
    border-top-width: 3px;
    
    ;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 30px;
    
    font-size: 60px;
    padding: 300px;


}
.box03{
    width: 300px;
    height: 300px;
    border: 3px groove pink;
    margin: 30px 20px 10px 5px;
    padding: 30px 20px 10px;
}
.box03.child01{
     width: 100px;
     height: 100px;
     background-color: aquamarine;
     margin: 30px 20px;
     border: 4px dotted violet;
}
.box04{
    width: 100px;
    height: 100px;
    overflow: scroll;
    border: 1px solid red;
}

.box05{
    background-color: blue;
    height: 200px;
    width: 300px;
}
