 body {
     font-family: Arial, sans-serif;
     background-color: #f0f0f0;
     margin: 0px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     height: 100vh;
 }
 .container{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 h1 {
     color: #333333;
     margin-bottom: 6px;
 }

 p {
     color: #666666;
     margin-bottom: 24px;
 }

 form {
     background-color: #ffffff;
     padding: 24px;
     max-width: 420px;
     border: 1px solid color#cccccc;
 }

 label {
     display: block;
     font-size: 14px;
     color: #333333;
     margin-bottom: 4px;
 }

 input,
 select,
 textarea {
     padding: 8px;
     margin-bottom: 16px;
     border: 1px solid #cccccc;
     font-size: 14px;
     font-family: Arial, sans-serif;
     box-sizing: border-box;
     width: 418px;
 }

 input:focus,
 select:focus,
 textarea:focus {
     outline: none;
     border-color: #e07b39;
     box-shadow: 0 0 0 2px rgba(224, 123, 57, 0.3);
 }

 textarea {
     height: 100px;
     resize: vertical
 }

 button {
     background-color: #e07b39;
     color: #ffffff;
     border: none;
     padding: 10px;
     font-size: 14px;
     width: 100%;
     cursor: pointer;
 }

 button:hover {
     background-color: #c0622a;
 }

 input#name2 {
     height: 90px;
 }

 input::placeholder {
     color: #999;
     font-style: italic;
     padding: 0;
     position: relative;
     vertical-align: top;
 }