header{
    background-color: black;
    color: white;
    padding: 20px;
}

.nav-link{
    color: white;
    text-decoration: none;
    margin: 15px;
}

.nav-link{
    color: yellow;
}

.card{
    background-color: white;
    padding: 20px;
    border: 1px solid #aaa;
}

.tailbar{
    color: grey;
    font-style: italic;
}