.btn{
    font-size: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    font-size: 14px;
    cursor: pointer;
}
.btn-primary{
    background-color: #007bff;
}

.btn-success{
    background-color: #28a745;
}

.btn-danger{
    background-color: #dc3545;
}