* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f6c9;
    font-family: sans-serif;
}

.card {
    width: 510px;
    height: 755px;
    background: #fff;
    border-radius: 64px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.card-header {
    position: relative;
    height: 200px;

}

.up-png {
    position: absolute;
    left: 0;
    z-index: 1;
}

.avatar {
    position: absolute;
    left: calc(50% - 100px);
    top: 20px;
    height: 200px;
    border-radius: 50%;
    z-index: 10;
}

.image1 {
    position: absolute;
    bottom: 0;
    left: -50px;
    top: 80px;
    z-index: 8;

}

.image2 {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.image3 {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 75px;
    z-index: 3;
}

/* .image4 {
    position: absolute;
    bottom: 0;
    right: 80px;
    top: 135px;
    z-index: 8;
} */

.image5 {
    position: absolute;
    bottom: 4;
    right: 40px;
    top: 80px;
    z-index: 9;
}

.card-body {
    padding: 100px 24px 28px;
}

.name {
    font: flex;
    line-height: 100%;
    font-style: Medium;
    letter-spacing: 1px;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    margin: 0;
}


.username {
    font-size: 16px;
    font-style: normal;
    line-height: 100%;
    text-align: center;
    color: #777;
    margin-top: 4px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin: 18px 0;
    font-size: 18px;
}

.socials a {
    color: #000;
    text-decoration: none;
    width: 32px;
    height: 32px;
    top: 545px;
}

.bio {
    font: Flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #444;
    margin: 18px 0 28px;
    text-align: center;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.btn {
    padding: 12px 28px;
    border-radius: 24px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-weight: 500;
}

.btn-primary {
    background: #e64590;
    color: #fff;
    width: fixed 191px;
    height: 57px;
    width: 180px;
}

.btn-outside {
    background: #fff;
    border: 1.5px solid #ccc;
    color: #777;
    width: fixed 191px;
    height: 57px;
    width: 180px;
}