body{
    margin: 0;
    padding: 20px;
    background-color: #F4F7F6;
}

h1{
    text-align: center;
    color: #333;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    background: white;
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    transition: transform 0.2s;
}

.card:hover{
    transform: translateY(-5px);
}

.card-number{
    font-size: 2rem;
    color: #007bff;
    font-weight: bold;
}

.card-label{
    color: #777;
    font-size: 0.9.rem;
}