a:link{
    color: red;
}

a:visited{
    color: green;
}

a:hover{
    color: aquamarine;
}

a:active{
    color: blue;
}

li:nth-child(3){
    color: purple;
}

.box{
    width: 100px;
    height: 100px;
    background-color: pink;
    margin: 20px;
    border-radius: 20px;
}

.box:hover:nth-child(1){
    transform: translateX(50px);
    transition: 1s;
}

.box:hover:nth-child(2){
    transform: rotate(360deg);
    transition: 1s;
}

.box:hover:nth-child(3){
    transform: scale(1.2);
    transition: 2s;
}
.box:nth-child(4){
    animation: animations 4s;
}
@keyframes animations {
    from {background-color: pink;}
    to {background-color:brown;}
}
.box:nth-child(5){
    animation-name: myAnimation ;
    animation-duration: 4s;
}
@keyframes myAnimation {
    0% {background-color: pink;}
    25% {background-color:brown;}
    50% {background-color:rgb(235, 6, 6);}
    100% {background-color:rgb(11, 0, 0);}
}
