#my-form{
    max-width: 500px;
    background-color: azure;
    color: black;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#my-form input{
    height: 25px;
}

.info{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 25px;
    max-width: 300px;
    box-shadow: 0 10px 25px rgba(150, 150, 150, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4a4a4a;
    border: 1px solid #f0f0f0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

