.gallery{
    /* display: flex;
    justify-content:center;
    box-sizing: border-box;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}
.phote{ 
   background-color: gray;
   width: 300px;
   height: 200px;
   margin: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}
